html, body {
    height:100%;
}

.main-wrapper {
    height: calc(100vh - 56px);
}

@media (min-width: 768px) {
    .sidebar {
    overflow: auto;
    height: calc(100% - 72px);
    }

    .business-img {
        width: 165px;
        height: auto;
    }
}

@media (max-width: 767px) {


    .sidebar {
        overflow: auto;
        height: 86px;
    }

    .business-img {
        width: 100px;
        height: auto;
    }
    #sidebar {
        height: 32%;
    }
    #map {
        height: calc(68% - 8px);
    }

    .hide {
        display: none;
    }

    h5 {
        font-size: 1.2em;
    }
}
