html, body {
    height:100%;
}


@media (min-width: 768px) {
    .main-wrapper {
        height:calc(100vh - 56px);
    }

    .sidebar {
    overflow: auto;
    height: calc(100% - 72px);
    }

    .business-img {
        width: 165px;
        height: 165px;
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        height: calc(100vh - 56px);
    }

    .sidebar {
        overflow: auto;
        height: 86px;
    }

    .business-img {
        width: 100px;
        height: 100px;
    }
    #sidebar {
        height: 30%;
    }
    #map {
        height: calc(70% - 8px);
    }

    .hide {
        display: none;
    }

    h5 {
        font-size: 1.2em;
    }
}
